@{
    ViewBag.Title = "title";
}

<form method="POST" action="/auth/login">
    <input type="text" placeholder="Username" name="username"/>
    <br/>
    <input type="password" placeholder="Password" name="password"/>
    <br/>
    <button>Submit</button>
</form>